/*CSS DOCUMENT*/



body {
    
}

img {
	width: 100%;
	align-content: center;
}

div.navlogo {
	margin: 2em;
	padding-top: 3em;
	color: rgb(0, 0, 0);
    align-content: center; 
    float: none; 
}

div.container {
	max-width: 55em;
	margin: auto;
    float: none;
}

div.about {
	max-width: 55em;
	margin: auto;
    float: none;
}

div.menu {
	max-width: 55em;
	margin: auto;
    align-content: center;
    text-align: center;
}

div.sandwiches {
	max-width: 48em;
	margin: auto;
	text-align: center;
	align-content: center;
}

div.salads {
	max-width: 48em;
	margin: auto;
}

div.bowls {
	max-width: 48em;
	margin: auto;
}

nav {
	float: center; 

}

nav ul {
	padding: 0;
	color: rgb(0, 0, 0);
}

nav ul li {
	list-style: none;
	display: inline;
	font-family: arpona, serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(0, 0, 0);
	text-transform: uppercase;

}

h1 {
	color: rgb(120, 0, 0);
	font-family: arpona, serif;
	font-weight: 400;
	font-style: normal;
	text-transform: capitalize;
	font-size: 3.1em;
	text-align: center;
	margin: 1em, 2em, 1.5em, 0.5em;
	float: center;
}

h2 {
	color: rgb(0, 0, 0);
	font-family: arpona, serif;
	font-weight: 500;
	font-style: normal;
	font-size: 2.1em;
	text-transform: uppercase;
	text-align: center;
	padding-top: 1em;
}

h3 {
	color: rgb(0, 0, 0);
	font-family: arpona, serif;
	font-weight: 500;
	font-style: normal;
	text-align: center;
	font-size: 1.9em;
	text-transform: capitalize;
}

h4 {
	color: rgb(150, 0, 0);
	font-family: arpona, serif;
	font-weight: 450;
	font-style: normal;
	text-align: center;
	font-size: 1.5em;
	text-transform: capitalize;
}

h5 {
	color: rgb(0, 0, 0);
	font-family: arpona, serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
	font-size: 1.2em;
	text-transform: capitalize;
}

h6 {
	color: rgb(50, 0, 30);
	font-family: arpona, serif;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	font-size: 1em;
	text-transform: capitalize;
}

ul li {
	list-style: none;
	display: inline;
	font-family: arpona, serif;
	font-weight: 200;
	font-style: normal;
	color: rgb(0, 0, 0);
	text-transform: lowercase;
}

p {
	color: rgb(0, 0, 0);
	font-family: arpona, serif;
	font-weight: 200;
	font-style: normal;
	font-style: normal;
	font-size: 1.1em;
	text-align: center;
}